#results {
  width: 500px;
  height: 300px;
  overflow: scroll;
  border: 1px solid gray;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.container .top {
  flex: 1 auto;
  margin: 10px;
}

.container .top .url {
  width: 50%;
}

.container .steps {
  width: 100%;
}
