.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

header {
  flex: 1 auto;
  margin: 10px;
  width: 100%;
}

header .url {
  width: 50%;
}

.container .steps {
  display: flex;
  flex-wrap: no-wrap;
  align-items: stretch;
}

.container .steps div {
  flex: 0 0 100%;
  margin: 5px 20px;
}

textarea {
  width: 100%;
  height: 30vh;
  overflow: scroll;
  border: 1px solid gray;
}
