name: Test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-15
          - macos-15-intel
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - name: Install modules
        run: npm ci
      - name: Lint
        run: npm run lint
      - name: Unused exports
        run: npm run unused-exports
      - name: Build
        run: npm run build
      - name: Run test
        run: npm test
